

#bg_2x {
	left:718px;
	top:37px;
	width:252px;
	height:213px;
	background-image:url(../img/bg_2x.png);
	background-size:252px 213px;
}

#c2_2x {
	left:30px;
	top:71px;
	width:281px;
	height:62px;
	background-image:url(../img/c2_2x.png);
	background-size:281px 62px;
}

#c4_2x {
	left:31px;
	top:71px;
	width:587px;
	height:30px;
	background-image:url(../img/c4_2x.png);
	background-size:587px 30px;
}

#c_2x {
	left:29px;
	top:71px;
	width:352px;
	height:62px;
	background-image:url(../img/c_2x.png);
	background-size:352px 62px;
}
