

#c2_2x {
	left:224px;
	top:38px;
	width:310px;
	height:20px;
	background-image:url(../img/c2_2x.png);
	background-size:310px 20px;
}

#c4_2x {
	left:225px;
	top:37px;
	width:402px;
	height:21px;
	background-image:url(../img/c4_2x.png);
	background-size:402px 21px;
}

#c_2x {
	left:226px;
	top:37px;
	width:344px;
	height:20px;
	background-image:url(../img/c_2x.png);
	background-size:344px 20px;
}
