body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:614px;
	top:4px;
	width:114px;
	height:86px;
	background-image:url(../img/bg_2x.png);
	background-size:114px 86px;
}
.ellipses {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.ellipse1 {
    left: 11px;
    top: -1px;
    width: 30px;
    height: 22px;
}

.ellipse2 {
    left: 33px;
    top: 16px;
    width: 26px;
    height: 18px;
}

.ellipse3 {
    left: 0px;
    top: 24px;
    width: 34px;
    height: 24px;
}

#ell_endAnim_2x {
	left:11px;
	top:11px;
	width:48px;
	height:28px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:48px 28px;
}

#c2_2x {
	left:89px;
	top:11px;
	width:176px;
	height:28px;
	background-image:url(../img/c2_2x.png);
	background-size:176px 28px;
}

#c4_2x {
	left:106px;
	top:12px;
	width:144px;
	height:26px;
	background-image:url(../img/c4_2x.png);
	background-size:144px 26px;
}

#c_2x {
	left:137px;
	top:19px;
	width:83px;
	height:12px;
	background-image:url(../img/c_2x.png);
	background-size:83px 12px;
}

#cta_2x {
	left:488px;
	top:32px;
	width:96px;
	height:26px;
	background-image:url(../img/cta_2x.png);
	background-size:96px 26px;
}

#new_bg_2x {
	left:614px;
	top:4px;
	width:114px;
	height:86px;
	background-image:url(../img/new_bg_2x.png);
	background-size:114px 86px;
}