body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}
.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 11px;
    top: -1px;
    width: 31px;
    height: 22px;
}

.ellipse2 {
    left: 33px;
    top: 16px;
    width: 27px;
    height: 18px;
}

.ellipse3 {
    left: 0px;
    top: 24px;
    width: 34px;
    height: 24px;
}

#ell_endAnim_2x {
	left:11px;
	top:11px;
	width:48px;
	height:28px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:48px 28px;
}

#c2_2x {
	left:102px;
	top:11px;
	width:176px;
	height:29px;
	background-image:url(../img/c2_2x.png);
	background-size:176px 29px;
}

#c4_2x {
	left:114px;
	top:12px;
	width:144px;
	height:27px;
	background-image:url(../img/c4_2x.png);
	background-size:144px 27px;
}

#c_2x {
	left:142px;
	top:18px;
	width:89px;
	height:15px;
	background-image:url(../img/c_2x.png);
	background-size:89px 15px;
}
