

#bg_2x {
	left:140px;
	top:111px;
	width:160px;
	height:139px;
	background-image:url(../img/bg_2x.png);
	background-size:160px 139px;
}

#new_bg_2x {
	left:140px;
	top:111px;
	width:160px;
	height:139px;
	background-image:url(../img/new_bg_2x.png);
	background-size:160px 139px;
}
