

#c2_2x {
	left:20px;
	top:62px;
	width:210px;
	height:37px;
	background-image:url(../img/c2_2x.png);
	background-size:210px 37px;
}

#c4_2x {
	left:20px;
	top:62px;
	width:188px;
	height:37px;
	background-image:url(../img/c4_2x.png);
	background-size:188px 37px;
}

#c_2x {
	left:20px;
	top:62px;
	width:189px;
	height:19px;
	background-image:url(../img/c_2x.png);
	background-size:189px 19px;
}

#cta_2x {
	left:20px;
	top:123px;
	width:96px;
	height:26px;
	background-image:url(../img/cta_2x.png);
	background-size:96px 26px;
}
