body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:20px;
	top:282px;
	width:139px;
	height:206px;
	background-image:url(../img/bg_2x.png);
	background-size:139px 206px;
}
.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 14px;
    top: 6px;
    width: 12px;
    height: 9px;
}

.ellipse2 {
    left: 27px;
    top: 24px;
    width: 11px;
    height: 8px;
}

.ellipse3 {
    left: 5px;
    top:29px;
    width: 15px;
    height: 11px;
}

#ell_endAnim_2x {
	left:11px;
	top:12px;
	width:25px;
	height:17px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:25px 17px;
}

#logo_c_2x {
	left:37px;
	top:12px;
	width:91px;
	height:17px;
	background-image:url(../img/logo_c_2x.png);
	background-size:91px 17px;
}

#c2_2x {
	left:11px;
	top:53px;
	width:137px;
	height:122px;
	background-image:url(../img/c2_2x.png);
	background-size:137px 122px;
}

#c4_2x {
	left:11px;
	top:53px;
	width:116px;
	height:121px;
	background-image:url(../img/c4_2x.png);
	background-size:116px 121px;
}

#c_2x {
	left:11px;
	top:53px;
	width:73px;
	height:43px;
	background-image:url(../img/c_2x.png);
	background-size:73px 43px;
}

#cta_2x {
	left:12px;
	top:200px;
	width:96px;
	height:26px;
	background-image:url(../img/cta_2x.png);
	background-size:96px 26px;
}

#bg_2x1 {
	left:41px;
	top:564px;
	width:279px;
	height:413px;
	background-image:url(../img/bg_2x1.png);
}