body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:833px;
	top:2px;
	width:137px;
	height:88px;
	background-image:url(../img/bg_2x.png);
	background-size:137px 88px;
}

.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 37px;
    top: 25px;
    width: 12px;
    height: 9px;
}

.ellipse2 {
    left: 54px;
    top: 39px;
    width: 11px;
    height: 8px;
}

.ellipse3 {
    left: 28px;
    top: 46px;
    width: 15px;
    height: 11px;
}

#ell_endAnim_2x {
	left:34px;
	top:34px;
	width:34px;
	height:22px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:34px 22px;
}

#logo_c_2x {
	left:70px;
	top:34px;
	width:122px;
	height:22px;
	background-image:url(../img/logo_c_2x.png);
	background-size:122px 22px;
}

#c1_2x {
	left:20px;
	top:85px;
	width:112px;
	height:18px;
	background-image:url(../img/c1_2x.png);
	background-size:112px 18px;
}

#c2_2x {
	left:225px;
	top:38px;
	width:341px;
	height:21px;
	background-image:url(../img/c2_2x.png);
	background-size:341px 21px;
}

#c3_2x {
	left:21px;
	top:79px;
	width:182px;
	height:23px;
	background-image:url(../img/c3_2x.png);
	background-size:182px 23px;
}

#c4_2x {
	left:225px;
	top:37px;
	width:405px;
	height:21px;
	background-image:url(../img/c4_2x.png);
	background-size:405px 21px;
}

#c5_2x {
	left:19px;
	top:78px;
	width:173px;
	height:15px;
	background-image:url(../img/c5_2x.png);
	background-size:173px 15px;
}

#c_2x {
	left:226px;
	top:38px;
	width:251px;
	height:21px;
	background-image:url(../img/c_2x.png);
	background-size:251px 21px;
}

#cta_2x {
	left:684px;
	top:30px;
	width:96px;
	height:26px;
	background-image:url(../img/cta_2x.png);
	background-size:96px 26px;
}

#new_bg_2x {
	left:833px;
	top:2px;
	width:137px;
	height:88px;
	background-image:url(../img/new_bg_2x.png);
	background-size:137px 88px;
}