body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

#bg_2x {
	left:718px;
	top:37px;
	width:252px;
	height:213px;
	background-image:url(../img/bg_2x.png);
	background-size:252px 213px;
}

.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 25px;
    top: 14px;
    width: 20px;
    height: 14px;
}

.ellipse2 {
    left: 55px;
    top: 38px;
    width: 17px;
    height: 12px;
}

.ellipse3 {
    left: 20px;
    top: 49px;
    width: 25px;
    height: 18px;
}

#ell_endAnim_2x {
	left:30px;
	top:29px;
	width:37px;
	height:22px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:37px 22px;
}

#logo_c_2x {
	left:66px;
	top:30px;
	width:122px;
	height:22px;
	background-image:url(../img/logo_c_2x.png);
	background-size:122px 22px;
}

#c2_2x {
	left:30px;
	top:71px;
	width:344px;
	height:62px;
	background-image:url(../img/c2_2x.png);
	background-size:344px 62px;
}

#c4_2x {
	left:31px;
	top:71px;
	width:582px;
	height:30px;
	background-image:url(../img/c4_2x.png);
	background-size:582px 30px;
}

#c_2x {
	left:29px;
	top:71px;
	width:140px;
	height:56px;
	background-image:url(../img/c_2x.png);
	background-size:140px 56px;
}

#cta_2x {
	left:30px;
	top:118px;
	width:119px;
	height:32px;
	background-image:url(../img/cta_2x.png);
	background-size:119px 32px;
}