

#c2_2x {
	left:111px;
	top:14px;
	width:140px;
	height:27px;
	background-image:url(../img/c2_2x.png);
	background-size:140px 27px;
}

#c4_2x {
	left:110px;
	top:14px;
	width:135px;
	height:25px;
	background-image:url(../img/c4_2x.png);
	background-size:135px 25px;
}

#c_2x {
	left:113px;
	top:21px;
	width:133px;
	height:13px;
	background-image:url(../img/c_2x.png);
	background-size:133px 13px;
}
