body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:#ec0c21;
	position:absolute;
	overflow:hidden;
	border: 1px solid black;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}
.ellipses {
    border-radius: 50%;
    background-color: white;
}

.ellipse1 {
    left: 11px;
    top: -1px;
    width: 32px;
    height: 24px;
}

.ellipse2 {
    left: 33px;
    top: 16px;
    width: 28px;
    height: 20px;
}

.ellipse3 {
    left: 0px;
    top: 24px;
    width: 35px;
    height: 25px;
}

#ell_endAnim_2x {
	left:11px;
	top:11px;
	width:44px;
	height:28px;
	background-image:url(../img/ell_endAnim_2x.png);
	background-size:44px 28px;
}

#c2_2x {
	left:80px;
	top:12px;
	width:219px;
	height:27px;
	background-image:url(../img/c2_2x.png);
	background-size:219px 27px;
}

#c4_2x {
	left:118px;
	top:12px;
	width:136px;
	height:27px;
	background-image:url(../img/c4_2x.png);
	background-size:136px 27px;
}

#c_2x {
	left:125px;
	top:19px;
	width:124px;
	height:12px;
	background-image:url(../img/c_2x.png);
	background-size:124px 12px;
}
